<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CurriculumChangeStatus</servlet-name>
        <servlet-class>controller.CurriculumChangeStatus</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>listUser</servlet-name>
        <servlet-class>listUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>updateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listUser</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>EditCombo</servlet-name>
        <servlet-class>controller.combo.EditCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCombo</servlet-name>
        <servlet-class>controller.combo.AddCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapCombo</servlet-name>
        <servlet-class>controller.combo.MapCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCombo</servlet-name>
        <servlet-class>controller.combo.ListCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddElective</servlet-name>
        <servlet-class>controller.elective.AddElective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditElective</servlet-name>
        <servlet-class>controller.elective.EditElective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListElective</servlet-name>
        <servlet-class>controller.elective.ListElective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapElective</servlet-name>
        <servlet-class>controller.elective.MapElective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlo</servlet-name>
        <servlet-class>controller.plo.AddPlo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlo</servlet-name>
        <servlet-class>controller.plo.EditPlo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPlo</servlet-name>
        <servlet-class>controller.plo.ListPlo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapPlo</servlet-name>
        <servlet-class>controller.plo.MapPlo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewComboByCid</servlet-name>
        <servlet-class>controller.combo.ViewComboByCid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewElectiveByCid</servlet-name>
        <servlet-class>controller.elective.ViewElectiveByCid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPloByCid</servlet-name>
        <servlet-class>controller.plo.ViewPloByCid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUser</servlet-name>
        <servlet-class>controller.listUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-class>controller.deleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>controller.updateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurriculumChangeStatus</servlet-name>
        <url-pattern>/CurriculumChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUser</servlet-name>
        <url-pattern>/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccount</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCombo</servlet-name>
        <url-pattern>/EditCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCombo</servlet-name>
        <url-pattern>/AddCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapCombo</servlet-name>
        <url-pattern>/MapCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCombo</servlet-name>
        <url-pattern>/ListCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddElective</servlet-name>
        <url-pattern>/AddElective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditElective</servlet-name>
        <url-pattern>/EditElective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListElective</servlet-name>
        <url-pattern>/ListElective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapElective</servlet-name>
        <url-pattern>/MapElective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlo</servlet-name>
        <url-pattern>/AddPlo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlo</servlet-name>
        <url-pattern>/EditPlo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPlo</servlet-name>
        <url-pattern>/ListPlo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapPlo</servlet-name>
        <url-pattern>/MapPlo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewComboByCid</servlet-name>
        <url-pattern>/ViewComboByCid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewElectiveByCid</servlet-name>
        <url-pattern>/ViewElectiveByCid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPloByCid</servlet-name>
        <url-pattern>/ViewPloByCid</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
